body {
    background-color: black;
    font-family: verdana;
}

h1{
    color:darkgrey;

}

label {
    display: inline-block;
    float: left;
    clear: left;
    width: 40%;
    text-align: left;
}

#segundo-fundo {
    border-radius: 25px;
    background: white;
    padding: 20px;
    width: 25%;
    margin-left: 2%;
}

#DivContainer {
    margin-left: 10%;
    
}

.footer {

    position: absolute;
    color: black;
    text-align: center;
}

input {
    display: inline-block;
    float: left;
    width: 40%;
    margin: 1%;
}

button {
    margin-top: 10%;
}